<link href="assets/css/external/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/main.css" rel="stylesheet" type="text/css">


<div id="metronome-display">
  <p>Starting...</p>
</div>
<div id="chord-display">
  <p>Starting...</p>
</div>


<script src="assets/js/external/jquery-2.1.4.min.js"></script>
<script src="assets/js/external/bootstrap.min.js></script>

<script src="assets/js/chords.js"></script>
<script src="assets/js/metronome.js"></script>
<script src="assets/js/next-chord.js"></script>
